@import "variables";
@import "mixins";

.footer {
  bottom: 0px;
  width: 100%;
  background: white;
  border-top: 1px solid #EEE;
  text-align: center;
  padding: 50px 0px;
  border-top: 8px solid #EEE;
}