@import "variables";
@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/sass/font-awesome.scss';
@import "mixins";

html, body {
  position: absolute;
  min-width: $page-width;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 20px 0px 40px;
  font-weight: 300;
}

a {
  &:link, &:visited {
    @include animated(0.2s);
    color: $color-blue;
    text-decoration: none;
  }
  &:hover {
    color: lighten($color-blue, 10%);
  }
}
@import "macbook";
@import "navbar";
@import "libraries";
@import "footer";
@import "skills";

.content {
  width: $page-width;
  margin: 0px auto;
}

.background {
  padding-top: $background-space;
  padding-bottom: $background-space;
  position: relative;
  width: 100%;
}
