@import "variables";
@import "mixins";

.navbar {
  position: absolute;
  width: 100%;
  margin: 0px;
  z-index: 1000;

  &> .navbar-inner {
    background: white;
    height: $navbar-height;
    line-height: $navbar-height - 7;
    border: none;
    padding: 0px;
    border-bottom: 8px solid #EEE;
    @include borderRadius(0px);

    .brand {
      font-size: 2em;
      font-weight: 400;
      @include textShadow(1px 1px 0px #eee);
    }

    &> .content > ul {
      float: right;

      &> li > a {
        @include animated(0.2s);
        font-size: 1.1em;
        height: $navbar-height !important;
        line-height: $navbar-height;
        background: none;

        &:hover {
          color: $color-blue;
        }
      }

    }
  }
}