$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$fontAwesomePath: "../components/font-awesome/font";

// General
$page-width: 1000px;
$color-blue: #0a8aec;

// Navbar
$navbar-height: 120px;

// Macbook
$macbook-base-height: 85px;
$macbook-width: 863px;
$macbook-height: 525px;
$macbook-screen-width: 657px;
$macbook-screen-height: 412px;
$macbook-screen-offset-x: 103px;
$macbook-screen-offset-y: 31px;
$macbook-background: "../images/bg_stripes2.jpg";
$background-space: 50px;