<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Joan Zapata</title>
    <meta name="description" content="Online CV of Joan Zapata, freelance software engineer in Paris, France.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="website">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your
    experience.</p>
<![endif]-->

<!-- INTRO -->
<div class="chapter-intro">
    <div class="container">
        <div class="header-image"></div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">
        <img class="illustration" src="images/tools.jpg" width="107"><br>

        <div class="row skills">
            <div class="col-md-6 left">
                <div class="title">Skills</div>
                <div class="text">
                    I'm a passionate coder, as such I like to write robust and high-quality code. But I'm also a
                    hobbyist
                    designer who seeks pixel-perfect UI and seamless UX. I believe in the
                    <a href="http://theleanstartup.com/principles" target="_blank"><b>Lean</b></a> methodology and
                    user-oriented products.
                </div>
            </div>

            <div class="col-md-5 right">
                <div class="skill-container">
                    <div class="skill">
                        <div class="ios">iOS <span class="bullet">• • • •<span class="off"> •</span></span>
                            <img src="images/increase.jpg" width="12px" class="increase bullet">
                        </div>
                        <div class="smaller gray">Swift, Rx, Cocoapods, Fastlane</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="design">Design <span class="bullet">• • • <span class="off">• •</span></span></div>
                        <div class="smaller gray">Sketch, Photoshop</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="android">Android <span class="bullet">• • • • •</span></div>
                        <div class="smaller gray">Kotlin, RxJava, Dagger, Retrofit</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="web">Web <span class="bullet">• • • • <span class="off">•</span></span></div>
                        <div class="smaller gray">Grunt/Gulp, Bower, AngularJS, SASS</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="backend">Backend <span class="bullet">• • • • <span class="off">•</span></span>
                        </div>
                        <div class="smaller gray">Java, Scala, Spring, Hibernate, AWS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">

        <img class="illustration" src="images/pencils.jpg" width="109"><br>
        <div class="title">Recent article</div>
        <br>
        <div class="text">
            Android to iOS in 10 days<br>
            <div class="smaller">
                A few months ago I dropped my Android phone to buy an iPhone SE, mostly because I was looking for a
                good 4" phone, but …
                <a class="more" href="http://blog.joanzapata.com/android-to-ios-in-10-days/" target="_blank">MORE</a>
            </div>
            <span class="small gray">
                SEPT 28, 2016
            </span>
        </div>

    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter half">
    <div class="container">

        <img class="illustration" src="images/workspace.jpg" width="149"><br>
        <div class="title">Work</div>
        <br>
        <div class="text">
            15 years ago I started crafting community websites as a kid. I now have an engineering degree and
            6+ years of work experience. Here are some of the projects I've been working on.
        </div>
    </div>
</div>

<div class="work" ng-controller="JobsController">

    <div class="head">&nbsp;</div>

    <div class="chapter-experience" ng-repeat="job in jobs track by $index">
        <div class="title" id="title-{{$index}}" ng-click="togglecard($index)">
            <div class="content">
                <div class="side">
                    <div class="name">{{job.name}}</div>
                    <div class="skills">
                        <span ng-repeat="skill in job.skills" class="{{skill | lowercase}}">
                            {{skill}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="year">{{job.date}}</div>
        </div>

        <div class="card" id="card-{{$index}}">
            <div class="container" ng-click="togglecard($index)">
                <div class="card-icon">
                    <img ng-src="{{job.icon}}" height="50px">
                </div>
                <div class="card-title">
                    {{job.name}}
                </div>
                <div class="card-subtitle">
                    <span ng-show="job.side == undefined">{{job.company}}<br></span>
                    {{job.date}}
                </div>
                <div class="card-screenshots" ng-show="job.screenshots">
                    <img ng-repeat="screenshot in job.screenshots" ng-src="images/screenshots/{{screenshot}}" height="200px" ng-click="openScreenshot(screenshot); $event.stopPropagation();">
                </div>
                <p class="card-description" ng-bind-html="job.description">
                </p>
            </div>
        </div>
    </div>

    <div class="foot">
        <div class="title">2011</div>
        <div class="school">
            Polytech Nantes<br>
            Engineering School
        </div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">

        <div class="title">More</div>

        <div class="row misc">
            <div class="col-md-offset-1 col-md-6">

                <div class="subheader">Social links</div>
                <a href="http://twitter.com/JoanZap" target="_blank">
                    <i class="fa fa-twitter fa-2x social"></i></a>&nbsp;&nbsp;
                <a href="http://fr.linkedin.com/in/joanz/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x social"></i></a>&nbsp;&nbsp;
                <a href="https://github.com/JoanZapata" target="_blank">
                    <i class="fa fa-github fa-2x social"></i></a><br><br>

                <div class="subheader">Blog</div>

                <a href="http://blog.joanzapata.com/" target="_blank"><span class="gray">http://</span>blog.joanzapata.com</a><br><br>

                <div class="subheader">Given trainings</div>
                AngularJS and Responsive Design at <a href="http://ebusinessinformation.fr/">eBiz, Paris</a>
                <span class="small gray">2014</span><br>
                Java/JEE at <a href="http://www.isep.fr/">ISEP, Paris</a>
                <span class="small gray">2012</span><br>
                Android at <a href="http://ebusinessinformation.fr/">eBiz, Paris</a>
                <span class="small gray">2012</span><br>
                Java/JEE at <a href="http://www.epf.fr/en">EPF, Paris</a>
                <span class="small gray">2011</span><br><br>

                <div class="subheader">Certifications</div>
                <a href="https://www.coursera.org/course/reactive" target="_blank">Principles of Reactive
                    Programming</a> <span class="small gray">COURSERA 2013</span><br>
                <a href="https://www.coursera.org/course/progfun" target="_blank">Functional Programming
                    Principles
                    in
                    Scala</a>
                <span class="small gray">COURSERA 2013</span><br>
                <a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=458&get_params=p_track_id:JSE6Prog" target="_blank">Certified Professional Java Programmer</a> <span class="small gray">ORACLE 2012</span><br>
                <a href="http://web.polytech.univ-nantes.fr/" target="_blank">Engineering Degree</a> <span class="small gray">POLYTECH NANTES, FRANCE 2011</span>

            </div>
            <div class="visible-xs visible-sm">
                <br>
            </div>
            <div class="col-md-5">

                <div class="subheader">Side work on Open Source</div>

                <span class="badge">3000 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/android-iconify" target="_blank">Iconify</a>
                <span class="small gray">OWNER</span><br>

                <span class="badge">2000 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/android-pdfview" target="_blank">PDFView</a>
                <span class="small gray">OWNER</span><br>

                <span class="badge">1600 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/base-adapter-helper" target="_blank">Base Adapter
                    Helper</a>
                <span class="small gray">OWNER</span><br>

                <span class="badge">340 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/android-asyncservice" target="_blank">AsyncService</a>
                <span class="small gray">OWNER</span><br>

                <span class="badge">36 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/string-format" target="_blank">String Format</a>
                <span class="small gray">OWNER</span><br>

                <span class="badge">5 <i class="fa fa-star"></i></span>
                <a href="https://github.com/JoanZapata/simple-mapper" target="_blank">Simple Mapper</a>
                <span class="small gray">OWNER</span><br><br>

                <div class="subheader">Last read books</div>

                <a href="https://www.amazon.fr/RxSwift-Reactive-Programming-raywenderlich-com-Team/dp/1942878346" target="_blank">RxSwift</a>
                <span class="small gray">PILLET, BONTOGNALI, TODOROV, GARDNER</span><br>

                <a href="https://www.amazon.fr/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627" target="_blank">Growing Object-Oriented Software, Guided By Tests</a>
                <span class="small gray">FREEMAN, PRYCE</span><br>

                <a href="https://www.infoq.com/minibooks/domain-driven-design-quickly" target="_blank">Domain
                    Driven Design Quickly</a>
                <span class="small gray">AVRAM, MARINESCU</span><br>

                <a href="https://www.amazon.fr/Pragmatic-Programmer-Journeyman-Master/dp/020161622X" target="_blank">The
                    Pragmatic Programmer</a>
                <span class="small gray">HUNT, THOMAS</span><br>

                <a href="https://www.amazon.fr/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882" target="_blank">Clean Code</a>
                <span class="small gray">ROBERT C. MARTIN</span><br>

                <a href="https://www.amazon.fr/iOS-Programming-Nerd-Ranch-Guide/dp/0134390733" target="_blank">iOS
                    Programming</a>
                <span class="small gray">THE BIG NERD RANCH</span><br>
                <a href="http://www.amazon.com/The-Lean-Startup-Entrepreneurs-Continuous/dp/0307887898/ref=sr_1_1?ie=UTF8&qid=1402735953&sr=8-1&keywords=the+lean+startup" target="_blank">
                    The Lean Startup</a> <span class="small gray">ERIC RIES</span><br>

                <a href="http://www.manning.com/muschko/" target="_blank">Gradle In Action</a> <span class="small gray">BENJAMIN MUSCHKO</span><br>

                <a href="http://www.amazon.com/Effective-Java-Edition-Joshua-Bloch/dp/0321356683" target="_blank">Effective Java 2</a>
                <span class="small gray">JOSHUA BLOSH</span><br>

                <a href="http://shop.oreilly.com/product/9780596007126.do" target="_blank">Head First Design
                    Patterns</a>
                <span class="small gray">FREEMAN, ROBSON, BATES, SIERRA</span><br>

                <a href="https://www.amazon.fr/Android-Programming-Nerd-Ranch-Guide/dp/0134171454" target="_blank">Android
                    Programming</a>
                <span class="small gray">THE BIG NERD RANCH</span>


            </div>
        </div>

        <div class="clearfix"></div>

    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">

        <img class="illustration" src="images/email.jpg" width="83px"><br>
        <span class="contact">
            Want to work together?<br>
            <a href="mailto:zapata.joan@gmail.com" target="_blank">
                Contact me
            </a>
        </span>

    </div>
</div>

<div class="chapter-footer">
    <div class="container">
        <div class="copyright smaller">
            Design and development by Joan Zapata © 2017 <br>
            <a href="https://github.com/JoanZapata/joanzapata.github.com">Sources are on Github</a>
        </div>
    </div>
</div>

<script src="scripts/vendor.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-40931021-1', 'joanzapata.com');
    ga('send', 'pageview');
</script>


<script src="scripts/plugins.js"></script>

<script src="scripts/main.js"></script>

</body>
</html>