@font-face {
  font-family: "Circular";
  src: url('fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Circular";
  src: url('fonts/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
}
